<img src="assets/img/burger.png">
<br>

<h1>Eat-Da-Burger</h1>

{{!-- Left contains burgers yet to be devoured --}}
<div class="left-column">
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
    </ul>
</div>

{{!-- Right contains devoured burgers --}}
<div class="right-column">
    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
    </ul>
</div>

<br><br>

{{!-- Form for input --}}
<form class="addBurger">

    <div class="form-group">
        <label for="burgInput"></label>
        <input type="text" id="burgInput" name="burger_name">
    </div>

    <button type="submit">submit</button>

</form>